#root {
    position:sticky;
    overscroll-behavior: none;
}

.About-us{
    text-align: center;
    background-color: #500000;
    margin-top: 60px;
    padding-top: 10px;
    height: 130vh;
    width:100%;
}

.About-header {
    background-color: var(--color-primary-dark);
    margin: 0px;
    padding: 30px;
    margin-bottom: 10px;
    justify-self: center;
    align-items: center;
}

.Hero .About-bgd {
    bottom: 40%;
    position: absolute;
    background-color: #b68368;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    height: 12.5em;
    box-sizing: border-box;
    max-width: 90%;
    overflow: hidden;
}

#About-team {
    width: 100%;
    height: max(25vw, 321px);
}

.About-logo {
    display: flex;
    float: left;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    margin-left:auto;
    width: 40%;
    border-radius: 5%;
    outline: none;
}

#About-logo {
    height: 15em;
    width: 15em;
    max-height: 30vh;
    max-width: 100vw;
    position: absolute;
}

.About-description {
    display: flex;
    float: right;
    width: 60%;
    padding: calc(100px - 7.5vw) 2vw;
    box-sizing: border-box;
    font-size: min(2.5vw, 1.5em);
}

.About-body {
    display: flex;
    box-sizing: content-box;
    position: absolute;
    bottom: 12.5vh;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    border: #b68368 solid;
    border-width: 5px;
    margin: 5% 4% 0 4%;
    height: min(25vw, 200px);
    list-style-type: none;
    font-size: 1em;
}

.About-list {
    list-style-type: none;
    font-size: 1em;
}

a {
    color: white;
}

.About-skills {
    max-width: 33%;
    margin-bottom: 10px;
}

.About-challenges {
    min-width: 33%;
}

.About-websites {
    min-width: 33%;
}

.About-link {
    text-decoration: underline;
}
