.App {
  text-align: center;
  background-color: var(--color-background);
  height: 100%;
  width:100%;
  --color-background: #500000;
  --color-primary: #950020;
  --color-primary-dark: #76021c;
  --color-secondary: #252c6a;
  --color-error: #ff0000;
  --color-success: #4bb544;
  --border-radius: 4px;
}
.NavBar-Content{
  position: fixed;
}
.ButtonLinks{
  width: 100%;
}
.Nav{
  top:0;
  display:flex;
  text-align:left;
  height:80px;
  width: 100vw;
  background-color: var(--color-background);


}
.TopLine{
  padding-top:1rem;
  padding-bottom:1rem;
}
.nav__buttons{
    width:8rem;
    padding: 1rem 1rem;
    margin-top:1rem;
    margin-left: 1rem;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    border:none;
    border-radius: 5%;
    outline: none;
    cursor: pointer;
    background: maroon;
}
.icon{
  margin-left:auto;
  width: 80px;
  height: 80px;
  border:none;
  border-radius: 5%;
  outline: none;
}
