
.Frame{
    position:static;
    background-color: var(--color-primary-dark);
    overflow: scroll;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(100px, auto);
    padding-top: 40px;

}
.article{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 20px;
    padding-right:0px;
    border:none;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    background: #fefefebc;
    margin-bottom: 10px;

}
.articleText{
    flex-direction: column;
    width: 60%;
    height:100%
}
.ButtonList{
    padding:10%;
    padding-top: 3%;
}
.ArticleBodyPara{
    font-size:125%;
    width: 100%;
    height: 30%;
    padding-top: 40px;

}
.ArticleImage_Content{
    width: 40%;
    height: 100%;
    margin-right:10px;
}
.Article_image_direct{
    height: 100%;
    width: 100%;    
}
.ArticleTitle{
    align-self: flex-start;
    width: 100%;
    height: 30%;
    font-size: 150%;
}
.ArticleContent{
    align-items: center;
    height:auto;
}
a {
    text-decoration:none;
 }