#top{
  display: flex;
}
#title{
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 35px;
}
#greeting{
  margin: 0px;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  font-size: 16px;
}

body {
  background-color: #FEFBEA;
  min-height: 100%;
  align-items: center;
  margin: 0;
  color: white;
}

