.contentFrame{
    height: 100vh;
    width:100%;
    background-color: var(--color-primary);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}
